{% extends "layout.html.twig" %}
{% block page_title  %}
    Accueil
{% endblock %}

{% block content %}
    <div class="col-12 col-md-6 col-lg-8">
        <div class="row">
            <!-- Single Featured Post -->
            <div class="col-6 col-lg-6">
                <div class="single-blog-post featured-post">
                    <div class="post-thumb">
                        <a href="#"><img src="img/bg-img/16.jpg" alt=""></a>
                    </div>
                    <div class="post-data">
                        <a href="#" class="post-catagory">Finance</a>
                        <a href="#" class="post-title">
                            <h6>A new company is born today at the stock market</h6>
                        </a>
                        <div class="post-meta">
                            <p class="post-author">By <a href="#">Christinne Williams </a> - le 27-08-2018</p>
                            <p class="post-excerp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placerat. Sed varius leo ac leo fermentum, eu cursus nunc maximus. Integer convallis nisi nibh, et ornare neque ullamcorper ac. Nam id congue lectus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem. </p>
                                            <!-- Post Like & Post Comment -->
                            <div class="d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6">
                <div class="single-blog-post featured-post">
                                    <div class="post-thumb">
                                        <a href="#"><img src="img/bg-img/16.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="#" class="post-catagory">Finance</a>
                                        <a href="#" class="post-title">
                                            <h6> A new company is born today at the stock market</h6>
                                        </a>
                                        <div class="post-meta">
                                            <p class="post-author">By <a href="#">Christinne Williams</a> - le 27-08-2018</p>
                                            <p class="post-excerp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placerat. Sed varius leo ac leo fermentum, eu cursus nunc maximus. Integer convallis nisi nibh, et ornare neque ullamcorper ac. Nam id congue lectus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem. </p>
                                            <!-- Post Like & Post Comment -->
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt=""> <span>392</span></a>
                                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt=""> <span>10</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>
    </div>
{% endblock %}