{% extends "layout.html.twig" %}
{% block page_title  %}
    Accueil
{% endblock %}

{% block content %}
    <div class="col-12 col-md-6 col-lg-8">
        <div class="row">
            {% for article in articles %}
                {% if article.spotlight %}
                    {% include "include/_content_home.html.twig" %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}